<div class="pagina-venta-container">
  <div class="mobile-container">
    <app-buscador (terminoBusqueda)="buscarProducto($event)"></app-buscador>
    <div class="stock-y-detalle">
      <app-lista-sucursales
        [productos]="productosFiltrados"
        (sucursalSeleccionada)="mostrarDetalle($event)"
      ></app-lista-sucursales>
      <app-detalle-producto [sucursal]="sucursalSeleccionada"></app-detalle-producto>
    </div>
    <app-formulario-venta
      [productos]="productosFiltrados"
      [sucursal]="sucursalSeleccionada"
    ></app-formulario-venta>
  </div>
  <div *ngIf="notificationMessage" class="alert alert-danger fixed-alert m-3" role="alert">
    {{ notificationMessage }}
  </div>
</div>