<h2 class="title" >Productos Encontrados:</h2>
<div *ngFor="let producto of productos">
  <h6>Nombre: {{ producto.nombre }}</h6>
  <h6 *ngIf="producto.descripcion"> descripcion: {{ producto.descripcion }}</h6>
  <h4>Stock por Sucursal:</h4>

<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Sucursal</th>
        <th>Cantidad Disponible</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of producto.stockPorSucursal">
        <td>{{ stock.nombreSucursal }}</td>
        <td>{{ stock.cantidad }}</td>
        <td>${{ stock.precio }}</td>
      </tr>
    </tbody>
  </table>
</div>


  <div>
    <label for="sucursalCompra{{ producto.id }}">Comprar en:</label>
    <div class="select-sucursal">
      <select class="form-select"  id="sucursalCompra{{ producto.id }}" (change)="seleccionarSucursal(producto.id, $event)">
        <option value="">Seleccionar Sucursal</option>
        <option *ngFor="let stock of producto.stockPorSucursal" [value]="stock.idSucursal">
          {{ stock.nombreSucursal }}
        </option>
      </select>
    </div>
  </div>

  <div *ngIf="sucursalSeleccionada[producto.id]">
    <label for="cantidadCompra{{ producto.id }}">Cantidad a comprar:</label>
    <div class="input-cantidad">
          <input class="form-control" placeholder="Cantidad del productos" type="number" id="cantidadCompra{{ producto.id }}" [(ngModel)]="cantidadAComprar[producto.id]" min="1">
    </div>
    <button class="mt-2 btn btn-primary" (click)="calcularPrecioCLP(producto)">Calcular Precio CLP</button>
    <div class="precio-transformado alert alert-warning" *ngIf="precioEnCLP[producto.id]">
          <p >Precio en CLP: {{ precioEnCLP[producto.id] | currency:'CLP':'symbol':'1.2-2' }}</p>
    </div>
    <div class="boton-comprar">
        <button class="btn btn-success" (click)="realizarVenta(producto)" [disabled]="!precioEnCLP[producto.id]">Comprar</button>
    </div>
  </div>
  <hr>
</div>
<p *ngIf="productos.length === 0">No se encontraron productos.</p>